SMARTHOME_OLD/
SMARTHOME1/
SMARTHOME2/
SMARTHOME3/
SMARTHOME4/
**/deprecated/
V1/

MANAGEMENT/

**/.hubitat
**/.vscode

**/_SYNCAPP/

credentials.js
credentials.txt
credentials.json
*credentials*
settings.json

*.json

*test*
*draft*
**/draft/
**/drafts/

.vs
.vscode
